<?xml version="1.0"?>
<!--
/**
* t4u_payfull admin configuration
*
* @category    Payfull
* @package     Payfull
* @author      Mohammad Alabed
* @copyright   payfull (http://payfull.com)
* @license     GPL
*/
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <virtualType name="T4U\Payfull\Model\ConfigProvider" type="Magento\Payment\Model\CcGenericConfigProvider">
        <arguments>
            <argument name="methodCodes" xsi:type="array">
                <item name="t4u_payfull" xsi:type="const">T4U\Payfull\Model\Payment::CODE</item>
            </argument>
        </arguments>
    </virtualType>

    <type name="Magento\Checkout\Model\CompositeConfigProvider">
        <arguments>
            <argument name="configProviders" xsi:type="array">
                <item name="t4u_payfull_config_provider" xsi:type="object">T4U\Payfull\Model\ConfigProvider</item>
            </argument>
        </arguments>
    </type>

</config>
