<?xml version="1.0"?>
<!--
/**
* t4u_payfull admin configuration
*
* @category    Payfull
* @package     Payfull
* @author      Mohammad Alabed
* @copyright   payfull (http://payfull.com)
* @license     GPL
*/
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <t4u_payfull>
                <active>0</active>
                <model>T4U\Payfull\Model\Payment</model>
                <payment_action>authorize_capture</payment_action>
                <title>Payfull</title>
                <endpoint backend_model="Magento\Config\Model\Config\Backend\Encrypted" />
                <username backend_model="Magento\Config\Model\Config\Backend\Encrypted" />
                <password backend_model="Magento\Config\Model\Config\Backend\Encrypted" />
                <cctypes>VI,MC</cctypes>
                <allowspecific>0</allowspecific>
                <min_order_total>0</min_order_total>
            </t4u_payfull>
        </payment>
    </default>
</config>
